Resources/wsdl/2.0/wsdl_2.0_fault_example.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<description
	xmlns="http://www.w3.org/ns/wsdl"
	targetNamespace="http://jenkov.com/MyService"
	xmlns:tns="http://jenkov.com/MyService"
	xmlns:stns= "http://jenkov.com/MyService/schema"
	xmlns:wsoap= "http://www.w3.org/ns/wsdl/soap"
	xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
	xmlns:wsdlx= "http://www.w3.org/ns/wsdl-extensions">
	<documentation>
		This is the web service documentation.
	</documentation>
	<types>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jenkov.com/MyService/schema"
			xmlns="http://jenkov.com/MyService/schema">
			<xs:element name="latestTutorialRequest" type="typeLatestTutorialRequest"/>
			<xs:complexType name="typeLatestTutorialRequest">
				<xs:sequence>
					<xs:element name="date"type="xs:date"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="latestTutorialResponse" type="xs:string"/>
			<xs:element name="invalidDateError" type="xs:string"/>
		</xs:schema>
	</types>
	<interface name="latestTutorialInterface">
		<fault name="invalidDateFault" element="stns:invalidDateError"/>
		<operation name="latestTutorialOperation" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
			<input messageLabel="In" element="stns:latestTutorialRequest" />
			<output messageLabel="Out" element="stns:latestTutorialResponse" />
			<outfault messageLabel="Out" ref="tns:invalidDateFault" />
		</operation>
	</interface>
	<binding name="latestTutorialSOAPBinding" interface="tns:latestTutorialInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<fault ref="tns:invalidDateFault" wsoap:code="soap:Sender"/>
		<operation ref="tns:latestTutorialOperation" wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response"/>
	</binding>
	<service name ="latestTutorialService" interface="tns:latestTutorialInterface">
		<endpoint name="latestTutorialEndpoint" binding="tns:latestTutorialSOAPBinding" address="http://jenkov.com/latestTutorial"/>
	</service>
</description>