Resources/wsdl/2.0/Gabriela/semantic/AdaptationService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService3.wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax24="http://util.java/xsd" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService3.wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services" xmlns:ax23="http://classes/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:ax21="http://io.java/xsd" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes/xsd" xmlns:ax25="http://util.java/xsd">
            <xs:import namespace="http://util.java/xsd" />
            <xs:complexType name="ListOfPathways">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfPathways" nillable="true" type="ax24:Collection" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Collection">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd" xmlns:ax26="http://classes/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://classes/xsd" />
            <xs:element name="AdaptationService3Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdaptationService3Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="pathwayId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="filterData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listKeggPathways">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listKeggPathwaysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ListOfPathways" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendNormalizedDataFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEnrichedDataFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMappingDataFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="listKeggPathways" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:listKeggPathways" wsaw:Action="urn:listKeggPathways">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:listKeggPathwaysResponse" wsaw:Action="urn:listKeggPathwaysResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:listKeggPathwaysAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendNormalizedDataFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendNormalizedDataFile" wsaw:Action="urn:sendNormalizedDataFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendNormalizedDataFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:sendNormalizedDataFileAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendMappingDataFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendMappingDataFile" wsaw:Action="urn:sendMappingDataFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendMappingDataFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:sendMappingDataFileAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="filterData" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:filterData" wsaw:Action="urn:filterData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:filterDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:filterDataAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendEnrichedDataFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendEnrichedDataFile" wsaw:Action="urn:sendEnrichedDataFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendEnrichedDataFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:sendEnrichedDataFileAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getResult" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in pathwayId #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getResult" wsaw:Action="urn:getResult">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getResultResponse" wsaw:Action="urn:getResultResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:getResultAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService3Exception" wsaw:Action="urn:getStatusAdaptationService3Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
      <wsdl2:fault name="AdaptationService3Exception" element="ns:AdaptationService3Exception">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="AdaptationService3HttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:listKeggPathways" whttp:location="adaptationservice3/listKeggPathways/{identifier}" whttp:method="GET" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:sendNormalizedDataFile" whttp:location="adaptationservice3/sendNormalizedDataFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:sendMappingDataFile" whttp:location="adaptationservice3/sendMappingDataFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:filterData" whttp:location="adaptationservice3/filterData/{source}/{target}" whttp:method="POST" />
    <wsdl2:operation ref="tns:sendEnrichedDataFile" whttp:location="adaptationservice3/sendEnrichedDataFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:getResult" whttp:location="adaptationservice3/getResult/{identifier}/{pathwayId}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:generateID" whttp:location="adaptationservice3/generateID" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getStatus" whttp:location="adaptationservice3/getStatus/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:fault ref="tns:AdaptationService3Exception" />
  </wsdl2:binding>
  <wsdl2:service name="AdaptationService3" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="AdaptationService3HttpEndpoint" binding="tns:AdaptationService3HttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/AdaptationService3/webresources/adaptationservice3">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>