Resources/wsdl/2.0/Gabriela/semantic/AdaptationService6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService6.wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:ax21="http://io.java/xsd" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService6.wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:element name="AdaptationService6Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdaptationService6Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="filterData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendDiffExpressedData1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendDiffExpressedData2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUpFilteredData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUpFilteredDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDownFilteredData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDownFilteredDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="filterData" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:filterData" wsaw:Action="urn:filterData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:filterDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:filterDataAdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendDiffExpressedData1" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendDiffExpressedData1" wsaw:Action="urn:sendDiffExpressedData1">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendDiffExpressedData1Response">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:sendDiffExpressedData1AdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendDiffExpressedData2" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendDiffExpressedData2" wsaw:Action="urn:sendDiffExpressedData2">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendDiffExpressedData2Response">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:sendDiffExpressedData2AdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getDownFilteredData" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getDownFilteredData" wsaw:Action="urn:getDownFilteredData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getDownFilteredDataResponse" wsaw:Action="urn:getDownFilteredDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:getDownFilteredDataAdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:getStatusAdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getUpFilteredData" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getUpFilteredData" wsaw:Action="urn:getUpFilteredData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getUpFilteredDataResponse" wsaw:Action="urn:getUpFilteredDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService6Exception" wsaw:Action="urn:getUpFilteredDataAdaptationService6Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
      <wsdl2:fault name="AdaptationService6Exception" element="ns:AdaptationService6Exception">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="AdaptationService6HttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:filterData" whttp:location="adaptationservice6/filterData" whttp:method="POST" />
    <wsdl2:operation ref="tns:sendDiffExpressedData1" whttp:location="adaptationservice6/sendDiffExpressedData1/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:sendDiffExpressedData2" whttp:location="adaptationservice6/sendDiffExpressedData2/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:generateID" whttp:location="adaptationservice6/generateID" whttp:method="GET" />
    <wsdl2:operation ref="tns:getDownFilteredData" whttp:location="adaptationservice6/getDownFilteredData/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getStatus" whttp:location="adaptationservice6/getStatus/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getUpFilteredData" whttp:location="adaptationservice6/getUpFilteredData/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:fault ref="tns:AdaptationService6Exception" />
  </wsdl2:binding>
  <wsdl2:service name="AdaptationService6" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="AdaptationService6HttpEndpoint" binding="tns:AdaptationService6HttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/AdaptationService6/webresources/adaptationservice6">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>