Resources/wsdl/2.0/Gabriela/semantic/AdaptationService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService2.wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/AdaptationService2.wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:ax21="http://io.java/xsd" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:element name="AdaptationService2Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdaptationService2Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMappingFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="filterData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubFilteredData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubFilteredDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSuperFilteredData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSuperFilteredDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="sendFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendFile" wsaw:Action="urn:sendFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:sendFileAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="filterData" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:filterData" wsaw:Action="urn:filterData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:filterDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:filterDataAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getSubFilteredData" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getSubFilteredData" wsaw:Action="urn:getSubFilteredData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getSubFilteredDataResponse" wsaw:Action="urn:getSubFilteredDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:getSubFilteredDataAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendMappingFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendMappingFile" wsaw:Action="urn:sendMappingFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendMappingFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:sendMappingFileAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getSuperFilteredData" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getSuperFilteredData" wsaw:Action="urn:getSuperFilteredData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getSuperFilteredDataResponse" wsaw:Action="urn:getSuperFilteredDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:getSuperFilteredDataAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:AdaptationService2Exception" wsaw:Action="urn:getStatusAdaptationService2Exception">
    </wsdl2:outfault>
    </wsdl2:operation>
      <wsdl2:fault name="AdaptationService2Exception" element="ns:AdaptationService2Exception">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="AdaptationService2HttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:sendFile" whttp:location="adaptationservice2/sendFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:filterData" whttp:location="adaptationservice2/filterData/{source}/{target}" whttp:method="POST" />
    <wsdl2:operation ref="tns:getSubFilteredData" whttp:location="adaptationservice2/getSubFilteredData/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:sendMappingFile" whttp:location="adaptationservice2/sendMappingFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:generateID" whttp:location="adaptationservice2/generateID" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getSuperFilteredData" whttp:location="adaptationservice2/getSuperFilteredData/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getStatus" whttp:location="adaptationservice2/getStatus/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:fault ref="tns:AdaptationService2Exception" />
  </wsdl2:binding>
  <wsdl2:service name="AdaptationService2" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="AdaptationService2HttpEndpoint" binding="tns:AdaptationService2HttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/AdaptationService2/webresources/adaptationservice2">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>