Resources/wsdl/2.0/Gabriela/semantic/GeneSetEnrichmentAnalysisService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/GeneSetEnrichmentAnalysisService.wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/GeneSetEnrichmentAnalysisService.wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:ax23="http://classes/xsd" xmlns:ax21="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax24="http://util.java/xsd" xmlns:wsdl2="http://www.w3.org/ns/wsdl">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes/xsd" xmlns:ax25="http://util.java/xsd">
            <xs:import namespace="http://util.java/xsd" />
            <xs:complexType name="ListOfExperimentalConditions">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfExperimentalConditions" nillable="true" type="ax25:Collection" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Collection">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd" xmlns:ax26="http://classes/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://classes/xsd" />
            <xs:element name="GeneSetEnrichmentAnalysisServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GeneSetEnrichmentAnalysisServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendNormalizedData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax21:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendGeneSetData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax21:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="performGeneSetEnrichment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="fdrAdjust" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="experimentalDesign" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendReferenceExperimentalConditions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="list" nillable="true" type="ax26:ListOfExperimentalConditions" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendTargetExperimentalConditions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="list" nillable="true" type="ax26:ListOfExperimentalConditions" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReferenceExperimentalConditions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReferenceExperimentalConditionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfExperimentalConditions" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTargetExperimentalConditions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTargetExperimentalConditionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfExperimentalConditions" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="sendTargetExperimentalConditions" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendTargetExperimentalConditions" wsaw:Action="urn:sendTargetExperimentalConditions">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendTargetExperimentalConditionsResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:sendTargetExperimentalConditionsGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="listReferenceExperimentalConditions" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:listReferenceExperimentalConditions" wsaw:Action="urn:listReferenceExperimentalConditions">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:listReferenceExperimentalConditionsResponse" wsaw:Action="urn:listReferenceExperimentalConditionsResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:listReferenceExperimentalConditionsGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendGeneSetData" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendGeneSetData" wsaw:Action="urn:sendGeneSetData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendGeneSetDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:sendGeneSetDataGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="listTargetExperimentalConditions" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:listTargetExperimentalConditions" wsaw:Action="urn:listTargetExperimentalConditions">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:listTargetExperimentalConditionsResponse" wsaw:Action="urn:listTargetExperimentalConditionsResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:listTargetExperimentalConditionsGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendReferenceExperimentalConditions" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendReferenceExperimentalConditions" wsaw:Action="urn:sendReferenceExperimentalConditions">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendReferenceExperimentalConditionsResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:sendReferenceExperimentalConditionsGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:getStatusGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getResult" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getResult" wsaw:Action="urn:getResult">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getResultResponse" wsaw:Action="urn:getResultResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:getResultGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendNormalizedData" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendNormalizedData" wsaw:Action="urn:sendNormalizedData">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendNormalizedDataResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:sendNormalizedDataGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="performGeneSetEnrichment" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performGeneSetEnrichment" wsaw:Action="urn:performGeneSetEnrichment">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performGeneSetEnrichmentResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:GeneSetEnrichmentAnalysisServiceException" wsaw:Action="urn:performGeneSetEnrichmentGeneSetEnrichmentAnalysisServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
      <wsdl2:fault name="GeneSetEnrichmentAnalysisServiceException" element="ns:GeneSetEnrichmentAnalysisServiceException">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="GeneSetEnrichmentAnalysisServiceHttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:generateID" whttp:method="GET" whttp:location="genesetenrichmentanalysisservice/generateID" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:sendTargetExperimentalConditions" whttp:method="POST" whttp:location="genesetenrichmentanalysisservice/sendTargetExperimentalConditions/{identifier}" />
    <wsdl2:operation ref="tns:listReferenceExperimentalConditions" whttp:method="GET" whttp:location="genesetenrichmentanalysisservice/listReferenceExperimentalConditions/{identifier}" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:sendGeneSetData" whttp:method="POST" whttp:location="genesetenrichmentanalysisservice/sendGeneSetData/{identifier}/{filename}" />
    <wsdl2:operation ref="tns:listTargetExperimentalConditions" whttp:method="GET" whttp:location="genesetenrichmentanalysisservice/listTargetExperimentalConditions/{identifier}" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:sendReferenceExperimentalConditions" whttp:method="POST" whttp:location="genesetenrichmentanalysisservice/sendReferenceExperimentalConditions/{identifier}" />
    <wsdl2:operation ref="tns:getStatus" whttp:method="GET" whttp:location="genesetenrichmentanalysisservice/getStatus/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getResult" whttp:method="GET" whttp:location="genesetenrichmentanalysisservice/getResult/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:sendNormalizedData" whttp:method="POST" whttp:location="genesetenrichmentanalysisservice/sendNormalizedData/{identifier}/{filename}" />
    <wsdl2:operation ref="tns:performGeneSetEnrichment" whttp:method="POST" whttp:location="genesetenrichmentanalysisservice/performGeneSetEnrichment/{identifier}/{fdrAdjust}/{experimentalDesign}" />
    <wsdl2:fault ref="tns:GeneSetEnrichmentAnalysisServiceException" />
  </wsdl2:binding>
  <wsdl2:service name="GeneSetEnrichmentAnalysisService" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="GeneSetEnrichmentAnalysisServiceHttpEndpoint" binding="tns:GeneSetEnrichmentAnalysisServiceHttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/GeneSetEnrichmentAnalysisService/webresources/genesetenrichmentanalysisservice">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>