Resources/wsdl/2.0/Gabriela/semantic/KeggPathwayViewerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/KeggPathwayViewerService.wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:ax23="http://classes/xsd" xmlns:ax21="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/KeggPathwayViewerService.wsdl" xmlns:ax24="http://util.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl2="http://www.w3.org/ns/wsdl">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes/xsd" xmlns:ax25="http://util.java/xsd">
            <xs:import namespace="http://util.java/xsd" />
            <xs:complexType name="ListOfSpecies">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfSpecies" nillable="true" type="ax25:Collection" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOfPathways">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfPathways" nillable="true" type="ax25:Collection" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOfGeneIdentifierTypes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfGeneIdentifierTypes" nillable="true" type="ax25:Collection" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Collection">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd" xmlns:ax26="http://classes/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://classes/xsd" />
            <xs:element name="KeggPathwayViewerServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="KeggPathwayViewerServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="KeggPathwayViewerServiceIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax21:IOException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPathwayImage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPathwayImageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateKeggPathwayImage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="speciesIdentifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="pathwayIdentifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="geneIdType" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSpecies">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSpeciesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfSpecies" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPathways">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="speciesIdentifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPathwaysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfPathways" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGeneIdentifierTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="speciesIdentifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGeneIdentifierTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfGeneIdentifierTypes" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax21:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="sendFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendFile" wsaw:Action="urn:sendFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:KeggPathwayViewerServiceException" wsaw:Action="urn:sendFileKeggPathwayViewerServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getPathways" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="speciesIdentifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getPathways" wsaw:Action="urn:getPathways">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getPathwaysResponse" wsaw:Action="urn:getPathwaysResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getPathwayImage" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getPathwayImage" wsaw:Action="urn:getPathwayImage">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getPathwayImageResponse" wsaw:Action="urn:getPathwayImageResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:KeggPathwayViewerServiceIOException" wsaw:Action="urn:getPathwayImageKeggPathwayViewerServiceIOException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:KeggPathwayViewerServiceException" wsaw:Action="urn:getStatusKeggPathwayViewerServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getGeneIdentifierTypes" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="speciesIdentifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getGeneIdentifierTypes" wsaw:Action="urn:getGeneIdentifierTypes">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getGeneIdentifierTypesResponse" wsaw:Action="urn:getGeneIdentifierTypesResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:KeggPathwayViewerServiceException" wsaw:Action="urn:getGeneIdentifierTypesKeggPathwayViewerServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateKeggPathwayImage" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:generateKeggPathwayImage" wsaw:Action="urn:generateKeggPathwayImage">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:generateKeggPathwayImageResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:KeggPathwayViewerServiceException" wsaw:Action="urn:generateKeggPathwayImageKeggPathwayViewerServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getSpecies" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:getSpecies" wsaw:Action="urn:getSpecies">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getSpeciesResponse" wsaw:Action="urn:getSpeciesResponse">
    </wsdl2:output>
    </wsdl2:operation>
      <wsdl2:fault name="KeggPathwayViewerServiceException" element="ns:KeggPathwayViewerServiceException">
    </wsdl2:fault>
      <wsdl2:fault name="KeggPathwayViewerServiceIOException" element="ns:KeggPathwayViewerServiceIOException">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="KeggPathwayViewerServiceHttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:sendFile" whttp:method="POST" whttp:location="keggpathwayviewerservice/sendFile/{identifier}/{filename}" />
    <wsdl2:operation ref="tns:generateID" whttp:method="GET" whttp:location="keggpathwayviewerservice/generateID" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getPathways" whttp:method="GET" whttp:location="keggpathwayviewerservice/getPathways/{speciesIdentifier}" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:getPathwayImage" whttp:method="GET" whttp:location="keggpathwayviewerservice/getPathwayImage/{identifier}" />
    <wsdl2:operation ref="tns:getStatus" whttp:method="GET" whttp:location="keggpathwayviewerservice/getStatus/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:generateKeggPathwayImage" whttp:method="POST" whttp:location="keggpathwayviewerservice/generateKeggPathwayImage/{identifier}/{speciesIdentifier}/{pathwayIdentifier}/{geneIdType}" />
    <wsdl2:operation ref="tns:getGeneIdentifierTypes" whttp:method="GET" whttp:location="keggpathwayviewerservice/getGeneIdentifierTypes/{speciesIdentifier}" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:getSpecies" whttp:method="GET" whttp:location="keggpathwayviewerservice/getSpecies" whttp:outputSerialization="application/xml" />
    <wsdl2:fault ref="tns:KeggPathwayViewerServiceException" />
    <wsdl2:fault ref="tns:KeggPathwayViewerServiceIOException" />
  </wsdl2:binding>
  <wsdl2:service name="KeggPathwayViewerService" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="KeggPathwayViewerServiceHttpEndpoint" binding="tns:KeggPathwayViewerServiceHttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/KeggPathwayViewerService/webresources/keggpathwayviewerservice">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>