Resources/wsdl/2.0/Gabriela/semantic/MicroKClusterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/MicroKClusterService.wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:ax23="http://classes/xsd" xmlns:ax21="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services" xmlns:ax24="http://util.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/MicroKClusterService.wsdl">
  <wsdl2:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes/xsd" xmlns:ax25="http://util.java/xsd">
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="ListOfDistanceMeasures">
        <xs:sequence>
          <xs:element minOccurs="0" name="listOfDistanceMeasures" nillable="true" type="ax25:Collection" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
      <xs:complexType name="Collection">
        <xs:sequence>
          <xs:element minOccurs="0" name="empty" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd" xmlns:ax26="http://classes/xsd">
      <xs:import namespace="http://io.java/xsd" />
      <xs:import namespace="http://classes/xsd" />
      <xs:element name="MicroKClusterServiceException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MicroKClusterServiceException" nillable="true" type="ns:Exception" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="generateID">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="generateIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="performKMeansGeneClustering">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="distanceMeasure" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="numberOfClusters" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="numberOfRuns" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getClusteredDataTable">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getClusteredDataTableResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:File" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArraysList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getArraysListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:File" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGenesList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGenesListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:File" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDistanceMeasures">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getDistanceMeasuresResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ListOfDistanceMeasures" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendFile">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="file" nillable="true" type="ax21:File" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="performKMeansArrayClustering">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="distanceMeasure" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="numberOfClusters" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="numberOfRuns" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
      <xs:complexType name="File">
        <xs:sequence>
          <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
          <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
          <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
          <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="directory" type="xs:boolean" />
          <xs:element minOccurs="0" name="file" type="xs:boolean" />
          <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
          <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
          <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="getClusteredDataTable" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getClusteredDataTable" wsaw:Action="urn:getClusteredDataTable">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getClusteredDataTableResponse" wsaw:Action="urn:getClusteredDataTableResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:getClusteredDataTableMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="sendFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendFile" wsaw:Action="urn:sendFile">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendFileResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:sendFileMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
      </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getDistanceMeasures" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:getDistanceMeasures" wsaw:Action="urn:getDistanceMeasures">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getDistanceMeasuresResponse" wsaw:Action="urn:getDistanceMeasuresResponse">
      </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="performKMeansGeneClustering" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performKMeansGeneClustering" wsaw:Action="urn:performKMeansGeneClustering">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performKMeansGeneClusteringResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:performKMeansGeneClusteringMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:getStatusMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getArraysList" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getArraysList" wsaw:Action="urn:getArraysList">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getArraysListResponse" wsaw:Action="urn:getArraysListResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:getArraysListMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="performKMeansArrayClustering" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performKMeansArrayClustering" wsaw:Action="urn:performKMeansArrayClustering">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performKMeansArrayClusteringResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:performKMeansArrayClusteringMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getGenesList" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getGenesList" wsaw:Action="urn:getGenesList">
      </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getGenesListResponse" wsaw:Action="urn:getGenesListResponse">
      </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroKClusterServiceException" wsaw:Action="urn:getGenesListMicroKClusterServiceException">
      </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:fault name="MicroKClusterServiceException" element="ns:MicroKClusterServiceException">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="MicroKClusterServiceHttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:getClusteredDataTable" whttp:method="GET" whttp:location="microkclusterservice/getClusteredDataTable/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:sendFile" whttp:method="POST" whttp:location="microkclusterservice/sendFile/{identifier}/{filename}" />
    <wsdl2:operation ref="tns:generateID" whttp:method="GET" whttp:location="microkclusterservice/generateID" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getDistanceMeasures" whttp:method="GET" whttp:location="microkclusterservice/getDistanceMeasures" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:performKMeansGeneClustering" whttp:method="POST" whttp:location="microkclusterservice/performKMeansGeneClustering/{distanceMeasure}/{numberOfClusters}/{numberOfRuns}" />
    <wsdl2:operation ref="tns:getStatus" whttp:method="GET" whttp:location="microkclusterservice/getStatus/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getArraysList" whttp:method="GET" whttp:location="microkclusterservice/getArraysList/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:performKMeansArrayClustering" whttp:method="POST" whttp:location="microkclusterservice/performKMeansArrayClustering/{distanceMeasure}/{numberOfClusters}/{numberOfRuns}" />
    <wsdl2:operation ref="tns:getGenesList" whttp:method="GET" whttp:location="microkclusterservice/getGenesList/{identifier}" whttp:outputSerialization="text/plain" />
    <wsdl2:fault ref="tns:MicroKClusterServiceException" />
  </wsdl2:binding>
  <wsdl2:service name="MicroKClusterService" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="MicroKClusterServiceHttpEndpoint" binding="tns:MicroKClusterServiceHttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/MicroKClusterService/webresources/microkclusterservice">
    </wsdl2:endpoint>
  </wsdl2:service>
</wsdl2:description>