Resources/wsdl/2.0/Gabriela/semantic/MicroHClusterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description targetNamespace="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/MicroHClusterService.wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax24="http://util.java/xsd" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services" xmlns:ax23="http://classes/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dcm.ffclrp.usp.br/lssb/geas/wsdl/MicroHClusterService.wsdl" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:ax21="http://io.java/xsd" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions">
<wsdl2:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://classes/xsd" xmlns:ax25="http://util.java/xsd">
            <xs:import namespace="http://util.java/xsd" />
            <xs:complexType name="ListOfHierarchicalClusteringMethods">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfHierarchicalClusteringMethods" nillable="true" type="ax24:Collection" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOfDistanceMeasures">
                <xs:sequence>
                    <xs:element minOccurs="0" name="listOfDistanceMeasures" nillable="true" type="ax24:Collection" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Collection">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:ax22="http://io.java/xsd" xmlns:ax26="http://classes/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://classes/xsd" />
            <xs:element name="MicroHClusterServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MicroHClusterServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateID">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="generateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusteredDataTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClusteredDataTableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHierarchicalClusteringMethods">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getHierarchicalClusteringMethodsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ListOfHierarchicalClusteringMethods" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDistanceMeasures">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDistanceMeasuresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ListOfDistanceMeasures" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArrayTree">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArrayTreeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGeneTree">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGeneTreeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:File" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="performHierarchicalArrayClustering">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hierarchicalClusteringMethod" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="distanceMeasure" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="performHierarchicalGeneClustering">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hierarchicalClusteringMethod" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="distanceMeasure" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="performHierarchicalArrayGeneClustering">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hierarchicalClusteringMethod" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="distanceMeasure" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean" />
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="directory" type="xs:boolean" />
                    <xs:element minOccurs="0" name="file" type="xs:boolean" />
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax21:File" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long" />
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema></wsdl2:types>
  <wsdl2:interface name="ServiceInterface">
    <wsdl2:operation name="sendFile" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:sendFile" wsaw:Action="urn:sendFile">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:sendFileResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:sendFileMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="performHierarchicalArrayClustering" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performHierarchicalArrayClustering" wsaw:Action="urn:performHierarchicalArrayClustering">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performHierarchicalArrayClusteringResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:performHierarchicalArrayClusteringMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="generateID" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:generateID" wsaw:Action="urn:generateID">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:generateIDResponse" wsaw:Action="urn:generateIDResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getClusteredDataTable" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getClusteredDataTable" wsaw:Action="urn:getClusteredDataTable">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getClusteredDataTableResponse" wsaw:Action="urn:getClusteredDataTableResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:getClusteredDataTableMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="performHierarchicalGeneClustering" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performHierarchicalGeneClustering" wsaw:Action="urn:performHierarchicalGeneClustering">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performHierarchicalGeneClusteringResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:performHierarchicalGeneClusteringMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getStatus" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getStatus" wsaw:Action="urn:getStatus">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:getStatusMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="performHierarchicalArrayGeneClustering" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl2:input messageLabel="In" element="ns:performHierarchicalArrayGeneClustering" wsaw:Action="urn:performHierarchicalArrayGeneClustering">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="#none" wsaw:Action="urn:performHierarchicalArrayGeneClusteringResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:performHierarchicalArrayGeneClusteringMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getGeneTree" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getGeneTree" wsaw:Action="urn:getGeneTree">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getGeneTreeResponse" wsaw:Action="urn:getGeneTreeResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:getGeneTreeMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
    <wsdl2:operation name="getDistanceMeasures" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:getDistanceMeasures" wsaw:Action="urn:getDistanceMeasures">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getDistanceMeasuresResponse" wsaw:Action="urn:getDistanceMeasuresResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getHierarchicalClusteringMethods" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return ">
      <wsdl2:input messageLabel="In" element="ns:getHierarchicalClusteringMethods" wsaw:Action="urn:getHierarchicalClusteringMethods">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getHierarchicalClusteringMethodsResponse" wsaw:Action="urn:getHierarchicalClusteringMethodsResponse">
    </wsdl2:output>
    </wsdl2:operation>
    <wsdl2:operation name="getArrayTree" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="identifier #in return #return ">
      <wsdl2:input messageLabel="In" element="ns:getArrayTree" wsaw:Action="urn:getArrayTree">
    </wsdl2:input>
      <wsdl2:output messageLabel="Out" element="ns:getArrayTreeResponse" wsaw:Action="urn:getArrayTreeResponse">
    </wsdl2:output>
      <wsdl2:outfault messageLabel="Out" ref="tns:MicroHClusterServiceException" wsaw:Action="urn:getArrayTreeMicroHClusterServiceException">
    </wsdl2:outfault>
    </wsdl2:operation>
      <wsdl2:fault name="MicroHClusterServiceException" element="ns:MicroHClusterServiceException">
    </wsdl2:fault>
  </wsdl2:interface>
  <wsdl2:binding name="MicroHClusterServiceHttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http" whttp:methodDefault="POST">
    <wsdl2:operation ref="tns:sendFile" whttp:location="microhclusterservice/sendFile/{identifier}/{filename}" whttp:method="POST" />
    <wsdl2:operation ref="tns:performHierarchicalArrayClustering" whttp:location="microhclusterservice/performHierarchicalArrayClustering/{hierarchicalClusteringMethod}/{distanceMeasure}" whttp:method="POST" />
    <wsdl2:operation ref="tns:generateID" whttp:location="microhclusterservice/generateID" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getClusteredDataTable" whttp:location="microhclusterservice/getClusteredDataTable/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:performHierarchicalGeneClustering" whttp:location="microhclusterservice/performHierarchicalGeneClustering/{hierarchicalClusteringMethod}/{distanceMeasure}" whttp:method="POST" />
    <wsdl2:operation ref="tns:getStatus" whttp:location="microhclusterservice/getStatus/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:performHierarchicalArrayGeneClustering" whttp:location="microhclusterservice/performHierarchicalArrayGeneClustering/{hierarchicalClusteringMethod}/{distanceMeasure}" whttp:method="POST" />
    <wsdl2:operation ref="tns:getGeneTree" whttp:location="microhclusterservice/getGeneTree/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:operation ref="tns:getDistanceMeasures" whttp:location="microhclusterservice/getDistanceMeasures" whttp:method="GET" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:getHierarchicalClusteringMethods" whttp:location="microhclusterservice/getHierarchicalClusteringMethods" whttp:method="GET" whttp:outputSerialization="application/xml" />
    <wsdl2:operation ref="tns:getArrayTree" whttp:location="microhclusterservice/getArrayTree/{identifier}" whttp:method="GET" whttp:outputSerialization="text/plain" />
    <wsdl2:fault ref="tns:MicroHClusterServiceException" />
  </wsdl2:binding>
  <wsdl2:service name="MicroHClusterService" interface="tns:ServiceInterface">
    <wsdl2:endpoint name="MicroHClusterServiceHttpEndpoint" binding="tns:MicroHClusterServiceHttpBinding" address="http://kode.ffclrp.usp.br/lssb/geas/MicroHClusterService/webresources/microhclusterservice">
    </wsdl2:endpoint>
    </wsdl2:service>
</wsdl2:description>