Grasews.UI.WebServiceSamples.Client/Connected Services/TemperatureConverterService/TemperatureConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertFahrenheitToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertFahrenheitToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertFahrenheitToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertFahrenheitToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertFahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="ConvertFahrenheitToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertFahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="TemperatureConverterSoap">
    <wsdl:operation name="ConvertFahrenheitToCelsius">
      <wsdl:input message="tns:ConvertFahrenheitToCelsiusSoapIn" />
      <wsdl:output message="tns:ConvertFahrenheitToCelsiusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TemperatureConverterSoap" type="tns:TemperatureConverterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertFahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/ConvertFahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TemperatureConverterSoap12" type="tns:TemperatureConverterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertFahrenheitToCelsius">
      <soap12:operation soapAction="http://tempuri.org/ConvertFahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemperatureConverter">
    <wsdl:port name="TemperatureConverterSoap" binding="tns:TemperatureConverterSoap">
      <soap:address location="http://localhost:14820/TemperatureConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="TemperatureConverterSoap12" binding="tns:TemperatureConverterSoap12">
      <soap12:address location="http://localhost:14820/TemperatureConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>