Resources/wsdl/2.0/OMDb API/OMDb API_1-WSDL.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:q19="http://omdbapi.com/wsdl"
             targetNamespace="http://omdbapi.com/wsdl">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <xs:schema xmlns:tns="http://omdbapi.com/schemas"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                 xmlns="http://schemas.xmlsoap.org/wsdl/"
                 targetNamespace="http://omdbapi.com/schemas">
         <xs:element name="GET_getId_InputMessage">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="1" name="i" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>A valid IMDb ID (e.g. tt0000001)</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="plot" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Return short or full plot</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="r" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>The response type to return</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="callback" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>JSONP callback name</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GET_getId_OutputMessage" type="xs:anyType"/>
         <xs:element name="GET_getId_401"/>
         <xs:element name="GET_titleSearch_InputMessage">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="1" name="s" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Title of movie or series</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="y" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Year of release</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="type" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Return movie or series</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="r" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>The response type to return</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="page" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Page number to return</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="callback" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>JSONP callback name</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GET_titleSearch_Ou
Using org.apache.xerces.parsers.SAXParser
Exception net.sf.saxon.trans.XPathException: Namespace prefix 'q10' has not been declared 
Namespace prefix 'q10' has not been declared
